@import '../../scss/colors.scss';

nav {
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  z-index: 2;

  background-color: $black;
  
  .container {
    width: 80vw;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 40px;
  }

  .links {
    display: flex;
    align-items: center;
  }

  a img {
    width: 25px;
  }
  
  router-link {
    margin-right: 20px;

    &:last-child {
      margin-right: none;
    }

    &::part(a) {
      color: $white;
      text-decoration: none;
    }

    &::part(a):hover {
      text-decoration: underline;
    }
  }
}