@import '../../scss/colors.scss';

.home-hero {
  position: relative;
  width: 100vw;
  height: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $black;
  user-select: none;
  
  &__title {
    font-family: 'Beon';
    font-size: 8vw;
    --shadow: 3vw;
    
    span {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      cursor: pointer;
      transition: text-shadow .4s ease,
                  -webkit-text-stroke-color .4s ease;

      &.shutted {
        -webkit-text-stroke-color: darken($color: $white, $amount: 20) !important;
        text-shadow: none !important;
      }
    }
    
    span:nth-child(1) {
      -webkit-text-stroke-color: $yellow;
      text-shadow: 0px 0px var(--shadow) $yellow;
    }
    span:nth-child(2) {
      -webkit-text-stroke-color: $orange;
      text-shadow: 0px 0px var(--shadow) $orange;
    }
    span:nth-child(3) {
      -webkit-text-stroke-color: $red;
      text-shadow: 0px 0px var(--shadow) $red;
    }
    span:nth-child(4) {
      -webkit-text-stroke-color: $violet;
      text-shadow: 0px 0px var(--shadow) $violet;
    }
    span:nth-child(6) {
      -webkit-text-stroke-color: $blue;
      text-shadow: 0px 0px var(--shadow) $blue;
    }
    span:nth-child(7) {
      -webkit-text-stroke-color: $green;
      text-shadow: 0px 0px var(--shadow) $green;
    }
    span:nth-child(8) {
      -webkit-text-stroke-color: $orange;
      text-shadow: 0px 0px var(--shadow) $orange;
    }
  }

  &__subtitle {
    position: absolute;
    bottom: 50px;
    width: 100%;

    text-align: center;
    color: $white;
    text-shadow: 0px 0px 15px $white;
  }
}