@import '../../scss/colors.scss';

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: transparent;
}

.hljs,
.hljs-subst {
  color: $orange;
}

.hljs-comment {
  color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: $red;
}

.hljs-title,
.hljs-section {
  color: $red;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: $violet;
}

.hljs-literal {
  color: $green;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: $orange;
}

.hljs-meta {
  color: $blue;
}

.hljs-meta-string {
  color: $yellow;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
