@import '../../scss/colors.scss';

.md-container {
  .container {
    width: 80vw;
    max-width: 760px;
    margin: 0 auto;
    line-height: 1.8em;
    padding-top: 120px;
    padding-bottom: 120px;

    h1 {
      font-family: 'Beon';
      color: $red;
      font-weight: normal;
      text-shadow: 0px 0px 10px $red;
    }
    
    h2 {
      font-family: 'Beon';
      margin-top: 80px;
      color: $violet;
      font-weight: normal;
      text-shadow: 0px 0px 5px $violet;
      letter-spacing: 0.02em;
    }

    a {
      text-decoration: none;
      color: $blue;
      text-shadow: 0px 0px 5px $blue;

      &:hover {
        text-decoration: underline;
      }

      code {
        color: $blue;
      }
    }

    code {
      color: $orange;
      padding: 4px;
      border-radius: 4px;
      background-color: lighten($color: $black, $amount: 10);
    }

    table {
      margin-top: 40px;
      border: 1px solid $green;
      border-radius: 10px;
      box-shadow: 0px 0px 10px $green,
                  0px 0px 10px $green inset;

      thead {
        th {
          padding: 10px 15px;

          &:nth-child(1) {
            min-width: 20%;
          }
        }
      }

      tbody {
        td {
          padding: 10px 15px;

          &:first-child {
            text-align: center;
          }
        }
      }
    }
  }
}