// $yellow: #FFBE0B;
// $orange: #FB5607;
// $red: #FF006E;
// $violet: #8338EC;
// $blue: #3A86FF;

$yellow: #fae59aff;
$orange: #f6bb89ff;
$red: #ff6ab2ff;
$violet: #ffa1f3ff;
$blue: #6fc5faff;
$green: #84fbcbff;
$white: #fafafa;
$black: #171717;